.index__login {
  max-width: 260px;
  &--form {
    display: flex;
    flex-direction: column;
  }
}

.input-task {
  font-size: 1.8em;
  font-family: inherit;
  width: 100%;
  padding-left: 6px;

  @media (max-width: 750px) {
    font-size: 1.4em;
  }
}

.input-tasktext {
  font-size: 1.8em;
  font-family: inherit;
  border: none;
  border-radius: 4px;
  width: 60%;

  @media (max-width: 750px) {
    font-size: 1em;
  }
}
