.login {
  display: flex;
  justify-content: center;
}

.input-task {
  font-weight: bold;
  background-color: rgb(235, 235, 235);
  color: #000000;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.input-tasktext {
  width: inherit;
  background-color: transparent;
  color: #000000;
  margin-bottom: 12px;
  width: 100%;
}

.user_name {
  font-weight: bold;
}

.listitem {
  background-color: white;
  border-radius: 12px;
  margin-bottom: 14px;
  padding: 8px;
}

#newtask {
  color: white;
  font-weight: bold;
}
