.wrapper {
  max-width: 400px;
}

.add__section {
  width: 100%;
}

.todo__section {
  width: 100%;
}

.completed__section {
  width: 100%;
}

.input-task {
  width: 100%;
  font-weight: bold;
}

.input-tasktext {
  width: 100%;
}

.user_name {
  font-weight: bold;
}
