.login {
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 60%;
}

.input-task {
  width: 100%;
  font-weight: bold;
  font-size: 2em;
  background-color: transparent;
  padding: 0.5em;
}

.input-tasktext {
  width: 100%;
  background-color: transparent;
}

.user_name {
  font-weight: bold;
}

.listitem {
  background-color: white;
  border-radius: 12px;
  margin-bottom: 10px;
  padding: 4px;
  filter: drop-shadow(10px 10px 10px #f0afea);
}
