body {
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
}

.button {
  cursor: pointer;
  background-color: #799ff1;
  color: white;
  border-radius: 6px;
  font-weight: bold;
  font-size: 1.1em;
  height: 40px;
  padding: 0 8px 0 8px;
  -webkit-box-shadow: 0px 5px #4d679e;
          box-shadow: 0px 5px #4d679e;
}

.button:hover {
  background-color: #93b2f5;
}

.button:active {
  background-color: #648ee7;
  -webkit-box-shadow: 0 3px #2a4581;
          box-shadow: 0 3px #2a4581;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

a {
  text-decoration: none;
  list-style-type: none;
}

nav {
  width: 80%;
}

@media (max-width: 750px) {
  nav {
    width: 100%;
  }
}

.navbar {
  font-style: bolder;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.index__login {
  max-width: 260px;
}

.index__login--form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input-task {
  font-size: 1.8em;
  font-family: inherit;
  width: 100%;
  padding-left: 6px;
}

@media (max-width: 750px) {
  .input-task {
    font-size: 1.4em;
  }
}

.input-tasktext {
  font-size: 1.8em;
  font-family: inherit;
  border: none;
  border-radius: 4px;
  width: 60%;
}

@media (max-width: 750px) {
  .input-tasktext {
    font-size: 1em;
  }
}

.signup__login {
  max-width: 260px;
}

.signup__login--form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input-task {
  font-weight: bold;
  background-color: #ebebeb;
  color: #000000;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.input-tasktext {
  width: inherit;
  background-color: transparent;
  color: #000000;
  margin-bottom: 12px;
  width: 100%;
}

.user_name {
  font-weight: bold;
}

.listitem {
  background-color: white;
  border-radius: 12px;
  margin-bottom: 14px;
  padding: 8px;
}

#newtask {
  color: white;
  font-weight: bold;
}

body {
  background: repeating-linear-gradient(to right, transparent 0 calc(50px - 2px), #2c4966 calc(50px - 2px) 50px), repeating-linear-gradient(to bottom, transparent 0 calc(50px - 2px), #2c4966 calc(50px - 2px) 50px) #395c7e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper {
  width: 100%;
}

@media (min-width: 750px) {
  .wrapper {
    width: 80%;
  }
}

::-webkit-input-placeholder {
  color: #b6b6b6;
}

:-ms-input-placeholder {
  color: #b6b6b6;
}

::-ms-input-placeholder {
  color: #b6b6b6;
}

::placeholder {
  color: #b6b6b6;
}

h1 {
  font-size: 6em;
  background: -webkit-linear-gradient(340deg, #eee, #7e9fe7);
  -webkit-background-clip: text;
  background-clip: none;
  -webkit-text-fill-color: transparent;
  -webkit-margin-after: 0.4em;
          margin-block-end: 0.4em;
}

@media (max-width: 750px) {
  h1 {
    font-size: 3.4em;
  }
}

p {
  margin-top: 2px;
  color: #f0f0f0;
}

.completed {
  background-color: #84bced;
  color: black;
  height: 40px;
}

ul {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

li {
  list-style-type: none;
}

input {
  border: none;
  margin-bottom: 0.2em;
  border-radius: 6px;
  height: 2rem;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #ebebeb;
}
/*# sourceMappingURL=styles.css.map */