body {
  background: rgb(138, 56, 165);
  background: linear-gradient(
    0deg,
    rgba(116, 123, 158, 1) 18%,
    rgba(224, 139, 144, 1) 29%,
    rgba(254, 211, 185, 1) 44%,
    rgba(170, 214, 255, 1) 100%
  );

  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

::placeholder {
  color: #b6b6b6;
}

h1 {
  font-size: 6em;
  background: -webkit-linear-gradient(340deg, #eee, rgb(126, 159, 231));
  -webkit-background-clip: text;
  background-clip: none;
  -webkit-text-fill-color: transparent;
  margin-block-end: 0.4em;
}

p {
  margin-top: 2px;
  color: #f0f0f0;
}

.completed {
  background-color: #84bced;
  color: rgb(0, 0, 0);
  height: 40px;
}

ul {
  padding-inline-start: 0px;
}

li {
  list-style-type: none;
}

input {
  border: none;
  margin-bottom: 0.2em;
  border-radius: 6px;
  height: 2rem;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #ebebeb;
}
